In [1]:
import pandas as pd
import torch
import re
import matplotlib.pyplot as plt
from PIL import Image
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_absolute_percentage_error
from sklearn.metrics import recall_score, precision_score, f1_score, accuracy_score, balanced_accuracy_score
pd.set_option('display.max_rows', 500)

# Val set results regression

In [19]:
results_reg = pd.read_csv('/data/kpusteln/Fetal-RL/data_preparation/test_data/results_reg_bayes.csv')
gt_data = pd.read_csv('/data/kpusteln/Fetal-RL/data_preparation/data_biometry/ete_model/biometry_scaled_ps/all/biometry_val_scaled_size_all_filtered.csv')
gt_data_new = pd.DataFrame()
gt_data_new['index'] = gt_data['index']
gt_data_new['gt_measure'] = gt_data['measures']
data_merged = pd.merge(results_reg, gt_data_new, on='index', how='left')
data_merged['type'] = data_merged['video'].str.split('_', expand=True).iloc[:, 1]

In [20]:
data_merged['type'] = data_merged['video'].str.split('_', expand=True).iloc[:, 1]
data_merged_grouped = data_merged.groupby('video', as_index=False).mean()
data_merged_grouped['type'] = data_merged_grouped['video'].str.split('_', expand=True).iloc[:, 1]

# per class
data_femur = data_merged_grouped[data_merged_grouped['type'] == '3']
data_head = data_merged_grouped[data_merged_grouped['type'] == '1']
data_abdomen = data_merged_grouped[data_merged_grouped['type'] == '2']

In [28]:
print('MAPE', mean_absolute_percentage_error(data_merged['gt_measure'], data_merged['measures']))
print('RMSE', mean_squared_error(data_merged['gt_measure'], data_merged['measures'], squared=False))
print('MAE', mean_absolute_error(data_merged['gt_measure'], data_merged['measures']))

MAPE 0.02367422381254312
RMSE 0.40616548907141536
MAE 0.2055116390716786

In [29]:
data_merged_grouped

     video   measures  gt_measure type
0    105_2  20.732416       20.51    2
1    116_3   5.051484        4.93    3
2    123_3   3.145677        3.11    3
3    129_2  28.261295       27.59    2
4    148_3   3.662595        3.72    3
5     15_1  23.390195       22.58    1
6    168_3   4.120405        3.95    3
7    169_2  24.902944       24.84    2
8    171_3   5.249158        5.25    3
9    180_3   4.193321        4.51    3
10   182_3   5.534438        5.80    3
11   198_3   5.058993        5.04    3
12   199_3   5.716103        5.64    3
13    19_2  24.047558       23.47    2
14   206_3   4.848427        5.14    3
15    20_3   3.472526        3.35    3
16   218_3   4.798213        4.88    3
17   222_2  20.048400       19.05    2
18   237_2  25.995586       26.32    2
19   243_2  13.943831       12.92    2
20   245_2  24.814799       24.58    2
21   249_3   5.800575        5.94    3
22   259_3   6.186739        6.14    3
23    25_2  26.460507       25.42    2
24   272_2  25.775993       26.13    2
25   272_3   5.820145        5.76    3
26   276_3   4.055938        4.07    3
27   279_3   4.580199        4.57    3
28   294_2  16.922461       17.35    2
29   294_3   3.683672        3.62    3
30   295_2  23.672697       24.02    2
31   295_3   5.429805        5.34    3
32     2_1  18.715430       19.19    1
33     2_3   3.675993        3.59    3
34   308_2  20.425892       20.66    2
35    30_2  28.326403       26.66    2
36   315_3   4.627800        4.55    3
37   322_2  26.559128       27.05    2
38   326_3   4.331736        4.52    3
39   330_3   3.509899        3.57    3
40   332_3   3.041592        3.05    3
41    33_3   4.950199        5.01    3
42   342_3   5.862095        5.81    3
43   343_2  26.461209       22.98    2
44   343_3   5.371073        5.00    3
45   352_2  22.298935       22.93    2
46   354_3   4.473951        4.51    3
47   359_3   5.782607        5.98    3
48   367_3   3.420583        3.39    3
49   376_3   5.096390        5.03    3
50   377_3   4.157303        3.73    3
51   378_3   4.424191        4.51    3
52   383_3   5.212095        5.47    3
53   385_3   4.913114        4.77    3
54   386_3   4.519218        4.47    3
55    38_2  20.939404       19.63    2
56    38_3   4.534896        4.41    3
57    39_3   5.739697        5.77    3
58   401_3   3.643604        3.76    3
59   409_3   2.689572        2.07    3
60   410_2  21.722666       22.38    2
61   420_3   5.140961        5.16    3
62   426_3   7.080453        7.11    3
63   436_2  15.765318       15.37    2
64   447_2  18.416990       17.17    2
65   453_3   5.365404        5.40    3
66    45_1  17.035574       17.53    1
67   462_3   5.990461        6.09    3
68   472_3   5.310606        5.21    3
69   474_2  27.538126       28.97    2
70   474_3   6.521088        6.24    3
71   485_3   4.447313        4.31    3
72   489_2  27.348299       28.20    2
73    49_1  20.449607       20.77    1
74     4_1  24.285740       23.98    1
75   500_3   5.219867        5.52    3
76    50_3   5.759727        5.70    3
77   521_3   4.755840        4.73    3
78   525_3   5.862159        5.66    3
79   526_3   6.205033        6.34    3
80    52_1  28.005644       28.78    1
81   533_3   3.204929        3.22    3
82    56_3   4.364760        4.29    3
83   584_3   3.865563        3.84    3
84   587_3   6.275743        6.62    3
85   590_3   4.672605        4.70    3
86   594_2  26.556672       27.95    2
87   598_3   3.204332        3.16    3
88     5_3   3.103881        3.20    3
89   600_3   5.895377        5.98    3
90   604_3   5.263335        5.22    3
91   611_3   4.177550        4.21    3
92   636_3   4.438394        4.42    3
93   653_3   4.347452        4.34    3
94    65_1  15.039254       15.33    1
95    66_1  21.648607       21.44    1
96   670_3   2.864894        2.83    3
97   672_3   6.677501        7.01    3
98   680_3   4.674663        4.71    3
99    68_3   2.516313        2.57    3
100   77_2  29.194022       30.94    2
101   83_3   5.125370        5.20    3
102   87_3   6.723112        6.55    3
103   88_2  36.422556       35.89    2
104   90_3   3.895317        3.95    3
105    9_2  20.535448       19.75    2

In [30]:
print('MAPE', mean_absolute_percentage_error(data_merged_grouped['gt_measure'], data_merged_grouped['measures']))
print('RMSE', mean_squared_error(data_merged_grouped['gt_measure'], data_merged_grouped['measures'], squared=False))
print('MAE', mean_absolute_error(data_merged_grouped['gt_measure'], data_merged_grouped['measures']))

MAPE 0.028467758836277633
RMSE 0.5875973741398692
MAE 0.32911629872763654

In [21]:
data_femur

     video  measures  gt_measure type
1    116_3  5.051484        4.93    3
2    123_3  3.145677        3.11    3
4    148_3  3.662595        3.72    3
6    168_3  4.120405        3.95    3
8    171_3  5.249158        5.25    3
9    180_3  4.193321        4.51    3
10   182_3  5.534438        5.80    3
11   198_3  5.058993        5.04    3
12   199_3  5.716103        5.64    3
14   206_3  4.848427        5.14    3
15    20_3  3.472526        3.35    3
16   218_3  4.798213        4.88    3
21   249_3  5.800575        5.94    3
22   259_3  6.186739        6.14    3
25   272_3  5.820145        5.76    3
26   276_3  4.055938        4.07    3
27   279_3  4.580199        4.57    3
29   294_3  3.683672        3.62    3
31   295_3  5.429805        5.34    3
33     2_3  3.675993        3.59    3
36   315_3  4.627800        4.55    3
38   326_3  4.331736        4.52    3
39   330_3  3.509899        3.57    3
40   332_3  3.041592        3.05    3
41    33_3  4.950199        5.01    3
42   342_3  5.862095        5.81    3
44   343_3  5.371073        5.00    3
46   354_3  4.473951        4.51    3
47   359_3  5.782607        5.98    3
48   367_3  3.420583        3.39    3
49   376_3  5.096390        5.03    3
50   377_3  4.157303        3.73    3
51   378_3  4.424191        4.51    3
52   383_3  5.212095        5.47    3
53   385_3  4.913114        4.77    3
54   386_3  4.519218        4.47    3
56    38_3  4.534896        4.41    3
57    39_3  5.739697        5.77    3
58   401_3  3.643604        3.76    3
59   409_3  2.689572        2.07    3
61   420_3  5.140961        5.16    3
62   426_3  7.080453        7.11    3
65   453_3  5.365404        5.40    3
67   462_3  5.990461        6.09    3
68   472_3  5.310606        5.21    3
70   474_3  6.521088        6.24    3
71   485_3  4.447313        4.31    3
75   500_3  5.219867        5.52    3
76    50_3  5.759727        5.70    3
77   521_3  4.755840        4.73    3
78   525_3  5.862159        5.66    3
79   526_3  6.205033        6.34    3
81   533_3  3.204929        3.22    3
82    56_3  4.364760        4.29    3
83   584_3  3.865563        3.84    3
84   587_3  6.275743        6.62    3
85   590_3  4.672605        4.70    3
87   598_3  3.204332        3.16    3
88     5_3  3.103881        3.20    3
89   600_3  5.895377        5.98    3
90   604_3  5.263335        5.22    3
91   611_3  4.177550        4.21    3
92   636_3  4.438394        4.42    3
93   653_3  4.347452        4.34    3
96   670_3  2.864894        2.83    3
97   672_3  6.677501        7.01    3
98   680_3  4.674663        4.71    3
99    68_3  2.516313        2.57    3
101   83_3  5.125370        5.20    3
102   87_3  6.723112        6.55    3
104   90_3  3.895317        3.95    3

In [22]:
print('MAPE', mean_absolute_percentage_error(data_femur['gt_measure'], data_femur['measures']))
print('RMSE', mean_squared_error(data_femur['gt_measure'], data_femur['measures'], squared=False))
print('MAE', mean_absolute_error(data_femur['gt_measure'], data_femur['measures']))

MAPE 0.02576936323390814
RMSE 0.16275606548298235
MAE 0.11364360093519073

In [23]:
data_abdomen

     video   measures  gt_measure type
0    105_2  20.732416       20.51    2
3    129_2  28.261295       27.59    2
7    169_2  24.902944       24.84    2
13    19_2  24.047558       23.47    2
17   222_2  20.048400       19.05    2
18   237_2  25.995586       26.32    2
19   243_2  13.943831       12.92    2
20   245_2  24.814799       24.58    2
23    25_2  26.460507       25.42    2
24   272_2  25.775993       26.13    2
28   294_2  16.922461       17.35    2
30   295_2  23.672697       24.02    2
34   308_2  20.425892       20.66    2
35    30_2  28.326403       26.66    2
37   322_2  26.559128       27.05    2
43   343_2  26.461209       22.98    2
45   352_2  22.298935       22.93    2
55    38_2  20.939404       19.63    2
60   410_2  21.722666       22.38    2
63   436_2  15.765318       15.37    2
64   447_2  18.416990       17.17    2
69   474_2  27.538126       28.97    2
72   489_2  27.348299       28.20    2
86   594_2  26.556672       27.95    2
100   77_2  29.194022       30.94    2
103   88_2  36.422556       35.89    2
105    9_2  20.535448       19.75    2

In [24]:
print('MAPE', mean_absolute_percentage_error(data_abdomen['gt_measure'], data_abdomen['measures']))
print('RMSE', mean_squared_error(data_abdomen['gt_measure'], data_abdomen['measures'], squared=False))
print('MAE', mean_absolute_error(data_abdomen['gt_measure'], data_abdomen['measures']))

MAPE 0.037606101001813434
RMSE 1.0999669754666388
MAE 0.856985152449502

In [25]:
data_head

   video   measures  gt_measure type
5   15_1  23.390195       22.58    1
32   2_1  18.715430       19.19    1
66  45_1  17.035574       17.53    1
73  49_1  20.449607       20.77    1
74   4_1  24.285740       23.98    1
80  52_1  28.005644       28.78    1
94  65_1  15.039254       15.33    1
95  66_1  21.648607       21.44    1

In [26]:
print('MAPE', mean_absolute_percentage_error(data_head['gt_measure'], data_head['measures']))
print('RMSE', mean_squared_error(data_head['gt_measure'], data_head['measures'], squared=False))
print('MAE', mean_absolute_error(data_head['gt_measure'], data_head['measures']))

MAPE 0.021574114998623578
RMSE 0.5061985733832299
MAE 0.4598791103242983

In [10]:
results_reg = pd.read_csv('/data/kpusteln/Fetal-RL/data_preparation/test_data/results_reg_bayes.csv')

In [11]:
results_reg

          index  video   measures
0     755_3_164  755_3   4.321596
1     755_3_163  755_3   4.345006
2     755_3_162  755_3   4.362003
3     755_3_165  755_3   4.310628
4     755_3_117  755_3   4.374162
...         ...    ...        ...
2555   931_1_44  931_1  16.940163
2556    931_2_5  931_2  16.019994
2557   931_1_38  931_1  17.260438
2558   931_1_43  931_1  17.049962
2559   931_1_31  931_1  17.187840

[2560 rows x 3 columns]

In [12]:
results_reg['type'] = results_reg['video'].str.split('_', expand=True).iloc[:, 1]
data_merged_grouped = results_reg.groupby('video', as_index=False).mean()
data_merged_grouped['type'] = data_merged_grouped['video'].str.split('_', expand=True).iloc[:, 1]
data_merged_grouped['id'] = data_merged_grouped['video'].str.split('_', expand=True).iloc[:, 0]
data_merged_grouped['id'] = data_merged_grouped['id'].astype(int)
#per class

data_femur = data_merged_grouped[data_merged_grouped['type'] == '3']
data_head = data_merged_grouped[data_merged_grouped['type'] == '1']
data_abdomen = data_merged_grouped[data_merged_grouped['type'] == '2']

#results_reg.groupby('video').mean()

In [13]:
indexes = [713, 742, 751, 755, 761, 767, 775, 857, 858, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 871]
indexes = pd.DataFrame(indexes)

In [14]:
data_merged_grouped.to_csv('/data/kpusteln/Fetal-RL/data_preparation/test_data/results_reg_bayes_grouped.csv', index=False)

In [15]:
data_abdomen_merged = pd.merge(indexes, data_abdomen, left_on=0, right_on='id', how='left')

In [16]:
data_abdomen_merged.dropna()

     0  video   measures type     id
0  713  713_2  19.785120    2  713.0
5  767  767_2  17.280237    2  767.0
8  858  858_2  16.497846    2  858.0

In [9]:
data_femur_merged = pd.merge(indexes, data_femur, left_on=0, right_on='id', how='left')

In [10]:
data_femur_merged.dropna()

      0  video  measures type     id
0   713  713_3  4.616133    3  713.0
2   751  751_3  4.932474    3  751.0
3   755  755_3  4.265327    3  755.0
4   761  761_3  5.709711    3  761.0
5   767  767_3  3.714895    3  767.0
6   775  775_3  3.587009    3  775.0
8   858  858_3  3.612838    3  858.0
10  861  861_3  5.996887    3  861.0
11  862  862_3  6.548858    3  862.0
14  865  865_3  5.721233    3  865.0
17  868  868_3  4.547020    3  868.0
19  871  871_3  5.716091    3  871.0

In [11]:
data_head_merged = pd.merge(indexes, data_head, left_on=0, right_on='id', how='left')
data_head_merged.dropna()

      0  video   measures type     id
1   742  742_1  22.605197    1  742.0
2   751  751_1  24.391321    1  751.0
5   767  767_1  18.913065    1  767.0
8   858  858_1  18.517189    1  858.0
15  866  866_1  28.648206    1  866.0
16  867  867_1  30.600091    1  867.0
19  871  871_1  27.781814    1  871.0

# Classification evaluation

In [428]:
cls_data = pd.read_csv('/data/kpusteln/Fetal-RL/data_preparation/test_data/results_cls_new.csv')

In [430]:
cls_data

         index video  predict  gt     probs  ps
0       9_2_26   9_2        3   1  0.991596   4
1       9_2_27   9_2        3   1  0.922188   4
2       9_2_28   9_2        3   1  0.908620   4
3       9_2_29   9_2        3   1  0.998464   4
4      9_2_138   9_2        3   1  0.908565   4
...        ...   ...      ...  ..       ...  ..
6580  66_1_370  66_1        1   1  0.693264   2
6581   75_1_26  75_1        1   1  0.969697   2
6582   83_1_11  83_1        1   1  0.660664   2
6583   83_1_12  83_1        1   1  0.539227   2
6584   83_1_13  83_1        2   1  0.596785   2

[6585 rows x 6 columns]

In [429]:
recall_score(cls_data['gt'], cls_data['predict'], average=None)

/data/kpusteln/my-envs/swin/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

array([0.04646925, 0.        , 0.        , 0.        , 0.        ,
       0.        ])

In [3]:
ps = pd.read_csv('/data/kpusteln/Fetal-RL/test_data/test_data_full.csv')

In [4]:
ps_train = pd.read_csv('/data/kpusteln/Fetal-RL/data_preparation/data_biometry/ete_model/biometry_train.csv')

# Test set evaluation

In [412]:
results_reg = pd.read_csv('/data/kpusteln/Fetal-RL/data_preparation/test_data/results_reg_bayes_test_fixed.csv')
gt_data = pd.read_csv('/data/kpusteln/Fetal-RL/data_preparation/test_data/tomek_biometry.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/data/kpusteln/Fetal-RL/data_preparation/test_data/tomek_biometry.csv'

In [413]:
len(gt_data)

99

In [414]:
gt_data['HC'] = gt_data['HC'].str.replace(',', '.').astype(float)
gt_data['BPD'] = gt_data['BPD'].str.replace(',', '.').astype(float)
gt_data['AC'] = gt_data['AC'].str.replace(',', '.').astype(float)
gt_data['FL'] = gt_data['FL'].str.replace(',', '.').astype(float)

AttributeError: Can only use .str accessor with string values!

In [415]:
gt_hc = gt_data[['ID', 'HC']]
gt_hc['ID'] = gt_hc['ID'].astype(str) + '_1'
gt_ac = gt_data[['ID', 'AC']]
gt_ac['ID'] = gt_ac['ID'].astype(str) + '_2'
gt_fl = gt_data[['ID', 'FL']]
gt_fl['ID'] = gt_fl['ID'].astype(str) + '_3'
gt_ac = gt_ac.rename(columns={'AC': 'measures'})
gt_fl = gt_fl.rename(columns={'FL': 'measures'})
gt_hc = gt_hc.rename(columns={'HC': 'measures'})
gt_all = pd.concat([gt_hc, gt_ac, gt_fl], axis=0)

/data/kpusteln/my-envs/swin/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/data/kpusteln/my-envs/swin/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/data/kpusteln/my-envs/swin/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [416]:
gt_all = gt_all.rename(columns={'ID': 'video'})

In [417]:
gt_data_new = pd.DataFrame()
gt_data_new['video'] = gt_all['video']
gt_data_new['gt_measure'] = gt_all['measures']
data_merged = pd.merge(results_reg, gt_data_new, on='video', how='right')
data_merged['type'] = data_merged['video'].str.split('_', expand=True).iloc[:, 1]

In [418]:
data_merged.dropna()

          index   video   measures  gt_measure type
1     742_1_128   742_1  21.682786       229.9    1
2     742_1_121   742_1  21.747795       229.9    1
3       742_1_2   742_1  21.365235       229.9    1
4     742_1_120   742_1  21.776012       229.9    1
5     742_1_129   742_1  21.662588       229.9    1
...         ...     ...        ...         ...  ...
1646   1375_3_5  1375_3   3.621708        35.6    3
1647   1375_3_2  1375_3   3.588273        35.6    3
1648   1375_3_3  1375_3   3.619752        35.6    3
1649   1375_3_4  1375_3   3.635129        35.6    3
1650   1375_3_6  1375_3   3.610734        35.6    3

[1523 rows x 5 columns]

In [419]:
data_merged['type'] = data_merged['video'].str.split('_', expand=True).iloc[:, 1]
data_merged_grouped = data_merged.groupby('video', as_index=False).mean()
data_merged_grouped['type'] = data_merged_grouped['video'].str.split('_', expand=True).iloc[:, 1]

# per class
data_femur = data_merged_grouped[data_merged_grouped['type'] == '3']
data_head = data_merged_grouped[data_merged_grouped['type'] == '1']
data_abdomen = data_merged_grouped[data_merged_grouped['type'] == '2']

In [420]:
data_merged_grouped['gt_measure'] = data_merged_grouped['gt_measure']/10

In [421]:
data_merged_grouped = data_merged_grouped.dropna()

In [422]:
data_merged_grouped.to_csv('/data/kpusteln/Fetal-RL/data_preparation/test_data/results_reg_bayes_test_fixed_grouped.csv', index=False)

In [423]:
print('MAPE', mean_absolute_percentage_error(data_merged_grouped['gt_measure'], data_merged_grouped['measures']))
print('RMSE', mean_squared_error(data_merged_grouped['gt_measure'], data_merged_grouped['measures'], squared=False))
print('MAE', mean_absolute_error(data_merged_grouped['gt_measure'], data_merged_grouped['measures']))

MAPE 0.0582158225858628
RMSE 1.284517227317726
MAE 0.8780961673083536

In [424]:
data_femur = data_merged_grouped[data_merged_grouped['type'] == '3']
data_head = data_merged_grouped[data_merged_grouped['type'] == '1']
data_abdomen = data_merged_grouped[data_merged_grouped['type'] == '2']

In [425]:
# femur
print('MAPE', mean_absolute_percentage_error(data_femur['gt_measure'], data_femur['measures']))
print('RMSE', mean_squared_error(data_femur['gt_measure'], data_femur['measures'], squared=False))
print('MAE', mean_absolute_error(data_femur['gt_measure'], data_femur['measures']))

MAPE 0.04432541203029839
RMSE 0.4071056692634638
MAE 0.2024414317230187

In [426]:
# head
print('MAPE', mean_absolute_percentage_error(data_head['gt_measure'], data_head['measures']))
print('RMSE', mean_squared_error(data_head['gt_measure'], data_head['measures'], squared=False))
print('MAE', mean_absolute_error(data_head['gt_measure'], data_head['measures']))

MAPE 0.06771805396092609
RMSE 1.658230647754477
MAE 1.5333255733956102

In [427]:
# abdomen
print('MAPE', mean_absolute_percentage_error(data_abdomen['gt_measure'], data_abdomen['measures']))
print('RMSE', mean_squared_error(data_abdomen['gt_measure'], data_abdomen['measures'], squared=False))
print('MAE', mean_absolute_error(data_abdomen['gt_measure'], data_abdomen['measures']))

MAPE 0.07927512972073204
RMSE 1.9203116946516139
MAE 1.4160394072649525

# Test results preparation

In [165]:
results_test = pd.read_csv('/data/kpusteln/Fetal-RL/data_preparation/test_data/results_cls_new.csv')
videos = results_test['video'].copy()

In [166]:
results_test['type']= results_test['video'].str.split('_', expand=True)[1]

In [167]:
results_test_abdomen = results_test[results_test['type'] == '2']
results_test_femur = results_test[results_test['type'] == '3']
results_test_head = results_test[results_test['type'] == '1']

In [168]:
results_test_head_filtered = results_test_head[results_test_head['predict'] == 2]
missing_videos_head = set(videos) - set(results_test_head_filtered['video'])
restults_head_missing_videos = results_test_head[results_test_head['video'].isin(missing_videos_head)]
head_df = pd.DataFrame({'index': restults_head_missing_videos['index'], 'video': restults_head_missing_videos['video'], 'probs': restults_head_missing_videos['probs']})
head_df_wide = pd.pivot_table(head_df, values='probs', index=['index'], columns=['video']).reset_index()
non_standard_plane_df = {}
for column in head_df_wide.columns:
    if column != 'index' and column != 'video':
        non_standard_planes = head_df_wide[[column, 'index']].sort_values(ascending=False, by=column)[:8]
        non_standard_planes_indexes = non_standard_planes['index'].values
        non_standard_plane_df[column] = non_standard_planes_indexes
non_standard_plane_df = pd.DataFrame(non_standard_plane_df)
non_standard_plane_df = non_standard_plane_df.values.flatten()
non_standard_plane_df_test = results_test_head[results_test_head['index'].isin(non_standard_plane_df)]
results_test_head_combined = pd.concat([results_test_head_filtered, non_standard_plane_df_test], axis=0)
assert len(results_test_head_combined['video'].unique()) == len(results_test_head['video'].unique())

In [169]:
results_test_femur_filtered = results_test_femur[results_test_femur['predict'] == 2]
missing_videos_femur = set(videos) - set(results_test_femur_filtered['video'])
restults_femur_missing_videos = results_test_femur[results_test_femur['video'].isin(missing_videos_femur)]
femur_df = pd.DataFrame({'index': restults_femur_missing_videos['index'], 'video': restults_femur_missing_videos['video'], 'probs': restults_femur_missing_videos['probs']})
femur_df_wide = pd.pivot_table(femur_df, values='probs', index=['index'], columns=['video']).reset_index()
non_standard_plane_df = {}
for column in femur_df_wide.columns:
    if column != 'index' and column != 'video':
        non_standard_planes = femur_df_wide[[column, 'index']].sort_values(ascending=False, by=column)[:8]
        non_standard_planes_indexes = non_standard_planes['index'].values
        non_standard_plane_df[column] = non_standard_planes_indexes
non_standard_plane_df = pd.DataFrame(non_standard_plane_df)
non_standard_plane_df = non_standard_plane_df.values.flatten()
non_standard_plane_df_test = results_test_femur[results_test_femur['index'].isin(non_standard_plane_df)]
results_test_femur_combined = pd.concat([results_test_femur_filtered, non_standard_plane_df_test], axis=0)
assert len(results_test_femur_combined['video'].unique()) == len(results_test_femur['video'].unique())

In [170]:
results_test_abdomen_filtered = results_test_abdomen[results_test_abdomen['predict'] == 2]
missing_videos_abdomen = set(videos) - set(results_test_abdomen_filtered['video'])
restults_abdomen_missing_videos = results_test_abdomen[results_test_abdomen['video'].isin(missing_videos_abdomen)]
abdomen_df = pd.DataFrame({'index': restults_abdomen_missing_videos['index'], 'video': restults_abdomen_missing_videos['video'], 'probs': restults_abdomen_missing_videos['probs']})
abdomen_df_wide = pd.pivot_table(abdomen_df, values='probs', index=['index'], columns=['video']).reset_index()
non_standard_plane_df = {}
for column in abdomen_df_wide.columns:
    if column != 'index' and column != 'video':
        non_standard_planes = abdomen_df_wide[[column, 'index']].sort_values(ascending=False, by=column)[:8]
        non_standard_planes_indexes = non_standard_planes['index'].values
        non_standard_plane_df[column] = non_standard_planes_indexes
non_standard_plane_df = pd.DataFrame(non_standard_plane_df)
non_standard_plane_df = non_standard_plane_df.values.flatten()
non_standard_plane_df_test = results_test_abdomen[results_test_abdomen['index'].isin(non_standard_plane_df)]
results_test_abdomen_combined = pd.concat([results_test_abdomen_filtered, non_standard_plane_df_test], axis=0)
assert len(results_test_abdomen_combined['video'].unique()) == len(results_test_abdomen['video'].unique())

In [171]:
results_cls_combined = pd.concat([results_test_head_combined, results_test_femur_combined, results_test_abdomen_combined], axis=0)

In [172]:
results_cls_combined['video'].nunique()

170

In [173]:
new_results_cls_combined = results_cls_combined[['index', 'video', 'predict', 'ps']]

In [174]:
new_results_cls_combined['predict'] = new_results_cls_combined['predict'].astype(int)
new_results_cls_combined.to_csv('results_cls_combined.csv', index=False)

/data/kpusteln/my-envs/swin/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [176]:
new_results_cls_combined['predict']

13      2
15      2
25      2
26      2
28      2
       ..
3828    4
3832    4
3836    4
3838    4
3839    4
Name: predict, Length: 1529, dtype: int64